<a href="https://colab.research.google.com/github/ipyme/Python/blob/master/google_colab_test_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn import datasets

df = datasets.load_iris()

In [5]:
import pandas as pd
import numpy as np

In [14]:
dt = pd.DataFrame(df.data,columns=df.feature_names)

ValueError: ignored

In [12]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
dtypes: float64(4)
memory usage: 4.8 KB

In [13]:
dt.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [20]:
dt_target = pd.DataFrame(df.target,columns=["target_label"])

    target_label
50             1
51             1
52             1
53             1
54             1
55             1
56             1
57             1
58             1
59             1
60             1
61             1
62             1
63             1
64             1
65             1
66             1
67             1
68             1
69             1
70             1
71             1
72             1
73             1
74             1
75             1
76             1
77             1
78             1
79             1
80             1
81             1
82             1
83             1
84             1
85             1
86             1
87             1
88             1
89             1
90             1
91             1
92             1
93             1
94             1
95             1
96             1
97             1
98             1
99             1